/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as paired-end by default. A minimum usage example is as follows:
 *       nextflow run main.nf  -profile fiji
 * Enter nextflow run main.nf -profile fiji --help for more aguments
 */

params {
  // Genome Reference File Pathds
  genome = "/Users/qiya9811/CODY_RNA_IFN/ref/chlSab2.fa"
  hisat2_indices = "/Users/qiya9811/CODY_RNA_IFN/ref/hisat2_index/chlSab2"
  genome_refseq = "/Users/qiya9811/CODY_RNA_IFN/ref/chlSab2.refseq.bed"
  annotation_gtf = "/Users/qiya9811/CODY_RNA_IFN/ref/chlSab2.ensembl.gtf"
  chrom_sizes = "/Users/qiya9811/CODY_RNA_IFN/ref/chlSab2.chrom.sizes"
}
